<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snow</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<noscript>
  <h1 style="font-family: Arial, Helvetica, sans-serif;">Snow requires JavaScript to be enabled in your browser, if you need help enabling it, <a href="https://www.wikihow.com/Enable-JavaScript">Click here to get help enabling JavaScript</a></h1>
</noscript>
<body onload="GetTabName()">
 <div id="particles-js">
    <nav id="NavBar">
      <h1 id="SnowLogo">Snow</h1>
        <ul id="UL">
            <li onclick="redirect('setting.html')">Settings</li>
            <li style="color: rgb(37, 117, 207);">Home</li>
        </ul>
    </nav>
    <div id="Proxy">
      <span id="He1">Search</span>
      
      <form>
     
        <input autocomplete="off" autocapitalize="off" id="uv-address" placeholder="Search the web" />
      </form>
     <br>
      <br>
      <button id="yt">Youtube</button>
      </div>
</div>  
</div>


<footer>
  <div id="footer1"></div>
</footer>

    <script src="js/particles.js"></script> 
  <script src="js/app.js"></script> 
    <script src="js/Snow.js"></script>
     <script src="uv/uv.config.js"></script> 
    <script src="uv/uv.bundle.js"></script>
    <script src="index.js"></script>
    </script>
</body>
</html>
